
.h {
    text-align: center;
    color: blue;
    font-size: 50px;
    border: 10px solid black;
    
    
}

.Center {
    text-align: center;
    color: rgb(184, 24, 184);
    font-size: 30px;
    text-align: right;
    
}

* {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
      
    
}


div {
    image-rendering: crisp-edges;
    border-radius: 10pc;
    
    
}
